{% extends "blog/base.html" %}
{% block title %}{{ areas }}{% endblock %}
{% block content %}
<p class='inlineBlock'></p>
    <div class="row">
        <div class="col-12 col-md-2">
            <div div class="btn-group-vertical h-90 d-inline-block" style="width: 11rem;">
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/Course-reviews/">Course reviews</a></button>
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/Daily-life/">Daily life</a></button>
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/Foods/">Foods</a></button>
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/Entertainment/">Entertainment</a></button>
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/Laws/">Laws</a></button>
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/Transportation/">Transportation</a></button>
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/Customs,traditions/">Customs,traditions</a></button>
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/Expenses/">Expenses</a></button>
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/Accommodation/">Accommodation</a></button>
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/Travel/">Travel</a></button>
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/School-reviews/">School reviews</a></button>
                <button type="button" class="btn btn-light"><a href="/area/{{ areas }}/Climate/">Climate</a></button>
            </div>
        </div>
        <div class="col-12 col-md-10">         
            {% for post in post_s.object_list %}
            <article class="media content-section bg-light">
                <img class="rounded-circle article-img" src="{{ post.author.image.url }}" alt="{{ post.author }}" width="25" height = "25">
                <div class="media-body">
                  <div class="article-metadata">
                    <h5><a class="mr-2 text-secondary" href="#">{{ post.author }}</a><br>
                    <small class="float-right">
                        <a href="{% url 'area' post.area %}">{{ post.area }}</a>
                        ,{{ post.date_posted|date:"F d,Y"}}
                    </small><hr>
                    {% for tag in post.tags.all %}
                    <small><span class="font-weight-normal badge badge-pill  text-info border border-info  float-right">
                        {{ tag }}
                        </span></small>
                        {% endfor %}
                  </div></h5>
                  <h2 class="article-title text-secondary">{{ post.title }}</h2>
                  <p class="article-content">{{ post.content|safe|truncatechars_html:100 }}</p>
                  <a href="{% url 'post-detail' post.id %}" class="text-secondary float-right">(see more...)</a>
                </div>
              </article>
              <br>
            {% endfor %}
            <hr>
            <center>       
            <div class='pagination'>
            <ul class="list-group list-group-horizontal-sm">
                {% if post_s.has_previous %}
                    <li class="list-group-item list-group-item-info"><a href="?page={{ post_s.previous_page_number }}">previous</a><li>
                {% endif %}
                {% for num in post_s.paginator.page_range %}
                    <li class="list-group-item list-group-item-info"><a href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}
                {% if post_s.has_next %}
                        <li class="list-group-item list-group-item-info"><a href="?page={{ post_s.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
            </div>
            </center>
        </div>
    </div>

{% endblock %} 