{% extends "blog/base.html" %}
{% block title %}{{ areas }}{% endblock %}
{% block content %}
<style>
    .media{
        border-radius: 20px;
    }
</style>
<p class='inlineBlock'></p>
    <div class="row">
        <div class="col-12 col-md-2">
            <div div class="btn-group-vertical h-90 d-inline-block" style="width: 11rem;">
                {% for category in categories %}
                    <a class="btn btn-light text-primary" href="/area/{{ areas }}/{{ category }}/">
                        <img src="/media\uploads\icon\school.png" alt="" width="25" height="25" style="float:left">{{ category }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-md-10">         
            {% for post in post_s.object_list %}
            <article class="media content-section">
                
                <div class="media-body bg-light">
                  <div class="article-metadata">
                    <h5><a class="mr-2 text-secondary" href="#">{{ post.author }}</a><br>
                    <small class="float-right">
                        <a href="{% url 'area' post.area %}">{{ post.area }}</a>
                        ,{{ post.date_posted|date:"F d,Y"}}
                    </small><hr>
                    {% for tag in post.tags.all %}
                    <small><p class="float-right"> &ensp;<span class="badge badge-pill  text-info border border-info  float-right">
                        {{ tag }}
                        </span></small>
                        {% endfor %}
                  </div></h5>
                  <h2 class="article-title text-secondary">{{ post.title }}</h2>
                  <p class="article-content">{{ post.content|safe|truncatechars_html:100 }}</p>
                  <a href="{% url 'post-detail' post.id %}" class="text-secondary float-right">(see more...)</a>
                </div>
              </article>
              <br>
            {% endfor %}
            <hr>
            <center>       
            <div class='pagination'>
            <ul class="list-group list-group-horizontal-sm">
                {% if post_s.has_previous %}
                    <li class="list-group-item list-group-item-info"><a href="?page={{ post_s.previous_page_number }}">previous</a><li>
                {% endif %}
                {% for num in post_s.paginator.page_range %}
                    <li class="list-group-item list-group-item-info"><a href="?page={{ num }}">{{ num }}</a></li>
                {% endfor %}
                {% if post_s.has_next %}
                        <li class="list-group-item list-group-item-info"><a href="?page={{ post_s.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
            </div>
            </center>
        </div>
    </div>

{% endblock %} 