{% extends "blog/base.html" %}
{% block title %}{{ areas }}{% endblock %}
{% block content %}
<p class='inlineBlock'></p>
    <div class="row">
        <div class="col-12 col-md-2">
            <div class="card align-self-start absolute" style="width: 11rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/area/{{ areas }}/Course-reviews/">Course reviews</a></li>
                    <li class="list-group-item"><a href="/area/{{ areas }}/Daily-life/">Daily life</a></li>
                    <li class="list-group-item"><a href="/area/{{ areas }}/Foods/">Foods</a></li>
                    <li class="list-group-item"><a href="/area/{{ areas }}/Entertainment/">Entertainment</a></li>
                    <li class="list-group-item"><a href="/area/{{ areas }}/Laws/">Laws</a></li>
                    <li class="list-group-item"><a href="/area/{{ areas }}/Transportation/">Transportation</a></li>
                    <li class="list-group-item"><a href="/area/{{ areas }}/Customs,traditions/">Customs,traditions</a></li>
                    <li class="list-group-item"><a href="/area/{{ areas }}/Expenses/">Expenses</a></li>
                    <li class="list-group-item"><a href="/area/{{ areas }}/Accommodation/">Accommodation</a></li>
                    <li class="list-group-item"><a href="/area/{{ areas }}/Travel/">Travel</a></li>
                    <li class="list-group-item"><a href="/area/{{ areas }}/School-reviews/">School reviews</a></li>
                    <li class="list-group-item"><a href="/area/{{ areas }}/Climate/">Climate</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-10">       
            {% for post in area_posts %}
            <article class="media content-section bg-light">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="{{ post.author }}" width="25" height = "25">
                <div class="media-body">
                  <div class="article-metadata">
                    <h5><a class="mr-2 text-secondary" href="#">{{ post.author }}</a><br>
                   <small class="float-right">
                        <a href="{% url 'area' post.area %}">{{ post.area }}</a>
                        

                        <!-- {% for cat in post.category %}
                            <a href="#">{{ cat }}</a>
                        {% endfor %} -->
                        ,{{ post.date_posted|date:"F d,Y"}}
                    </small></small><hr>
                    {% for tag in post.tags.all %}
                    <small><span class="font-weight-normal badge badge-pill  text-info border border-info  float-right">
                        {{ tag }}
                        </span></small>
                        {% endfor %}
                  </div></h5>
                  <h2 class="article-title text-secondary">{{ post.title }}</h2>
                  <p class="article-content">{{ post.content|safe|truncatechars_html:100 }}</p>
                  <a href="{% url 'post-detail' post.id %}" class="text-secondary float-right">(see more...)</a>
                </div>
              </article>
              <br>
            {% endfor %}
        </div>
    </div>

{% endblock %} 