{% extends "blog/base.html" %}
{% block title %}Exchange{% endblock %}
{% block content %}
{% include 'blog/searchForm.html' %}
<p class='inlineBlock'></p>
    <div class="row">
        <div class="col-12 col-md-2">
            <div class="card align-self-start absolute" style="width: 10rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#">Course reviews</a></li>
                    <li class="list-group-item"><a href="#">Daily life</a></li>
                    <li class="list-group-item"><a href="#">Foods</a></li>
                    <li class="list-group-item"><a href="#">Entertainment</a></li>
                    <li class="list-group-item"><a href="#">Laws</a></li>
                    <li class="list-group-item"><a href="#">Transportation</a></li>
                    <li class="list-group-item"><a href="#">Customs, traditions</a></li>
                    <li class="list-group-item"><a href="#">Expenses</a></li>
                    <li class="list-group-item"><a href="#">Accommodation</a></li>
                    <li class="list-group-item"><a href="#">Travel</a></li>
                    <li class="list-group-item"><a href="#">School reviews</a></li>
                    <li class="list-group-item"><a href="#">Climate</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-10">
            <br><br>          
            
    </div>

{% endblock %} 