{% extends "newsboard/baseNews.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-center">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class = "form-group">
                    <legend class="border-bottom mb-4">
                        <h4>Blog Post</h4>
                    </legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        Newsarticle
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}