{% extends "blog/base.html" %}
{% block content %}
<style>
    h3{
        display: inline;
    }
    
</style>
<div id="content">
    <br><br> 
    {% for post in askposts %}
    <article class="media content-section bg-light rounded border border-light">
        <img class="rounded-circle article-img" src="{{ post.user.image.url }}" alt="{{ post.author }}" width="25" height = "25">
        <div class="media-body">
          <div class="article-metadata">
          </div></h5>
          <h3 class="article-title ">{{ post.title }}</h3>
          <small class="float-right">,{{ post.date_posted|date:"F d,Y"}}</small>
          <small><a class="text-secondary float-right">{{ post.user }}</a></small>
          
          <p class="article-content border-top">{{ post.content|safe|truncatechars_html:500 }}</p>
          <a href="{% url 'ask-detail' post.id %}" class="text-secondary float-right">(see more...)</a>
      
      </article>
      <br>
{% endfor %}
    <!-------換頁-------->
    {% if is_paginated %}

    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}


    {% endif %}
    <br>
</div>
{% endblock %}