{% extends "ask/baseAsk.html" %}
{% block content %}
<style>
    h3{
        display: inline;
    }
    
</style>
<style>
    * {box-sizing: border-box}
    .mySlides1, .mySlides2 {display: none}
    img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a grey background color */
    .prev:hover, .next:hover {
      background-color: #f1f1f1;
      color: black;
    }
    </style>
    <div class="slideshow-container">
        <div class="mySlides1">
        <img src="/media\uploads\icon\logofinal.png" style="width:100% height: 50px;">
        <h3>加入討論吧！</h3>
        </div>
    
        <div class="mySlides1">
        <img src="/media\uploads\icon\logofinal.png" style="width:100% height: 50px;">
        <h3>最夯話題</h3>
        </div>
    
        <div class="mySlides1">
        <img src="/media\uploads\icon\logofinal.png" style="width:100% height: 50px;">
        <h3>大家都在問</h3>
        </div>
    
        <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
    </div> 
    <br><br>
    <div id="content">
    {% for post in askposts %}
    <article class="media content-section bg-light rounded border border-light">
        <!-- <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="{{ post.author }}" width="25" height = "25"> -->
        <div class="media-body">
          <div class="article-metadata">
          </div></h5>
          <h3 class="article-title ">{{ post.title }}</h3>
          <small class="float-right">,{{ post.date_posted|date:"F d,Y"}}</small>
          <small><a class="text-secondary float-right">{{ post.user }}</a></small>
          
          <p class="article-content border-top">{{ post.content|safe|truncatechars_html:500 }}</p>
          <a href="{% url 'ask-detail' post.id %}" class="text-secondary float-right">(see more...)</a>
      
      </article>
      <br>
{% endfor %}
    <!-------換頁-------->
    {% if is_paginated %}

    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}


    {% endif %}
    <br>
</div>

<script>
    var slideIndex = [1,1];
    var slideId = ["mySlides1", "mySlides2"]
    showSlides(1, 0);
    showSlides(1, 1);
    
    function plusSlides(n, no) {
      showSlides(slideIndex[no] += n, no);
    }
    
    function showSlides(n, no) {
      var i;
      var x = document.getElementsByClassName(slideId[no]);
      if (n > x.length) {slideIndex[no] = 1}    
      if (n < 1) {slideIndex[no] = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      x[slideIndex[no]-1].style.display = "block";  
    }
    </script>
{% endblock %}