{% extends "blog/base.html" %}

{% block content %}
<style>
    .container{
        width: 600px;
        height: 650px;
        margin: auto;
        padding: 30px;
    }
    .login{
        width: 600px;
        height: auto;
        background-color: #eee;
        margin: 100px;
        padding: 30px;
    }
    .nav link {
        color: white;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="login">
            <form method="POST">
                {% csrf_token %}
                <fieldset class = "form-group">
                    <h1 class="text-center">Login</h1>
                    <div class="form-group">
                        <label for="id_username">
                            Username
                            <span class="asteriskField">*</span>
                        </label>
                        <div>
                            <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required id="id_username">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        <div>
                    </div>
                    <div id="div_id_password" class="form-group">
                        <label for="id_password" class=" requiredField">
                            Password<span class="asteriskField">*</span> 
                        </label> 
                        <div class=""> 
                            <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required id="id_password"> 
                        </div> 
                        <a href="{% url 'password_reset' %}" text-align:right;>Forget password?</a>
                        <p>Not a user yet?<a href="{% url 'register' %}" class="text-right">Register</a></p>
                    </div>
                </fieldset>
                    <div class="form-group">
                        <button class="btn btn-info bg-info float-right" type="submit">
                            Login
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
 