{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row justify-content-center">
        <div class="content-section">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                {{ UserRegisterForm.as_p }}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">
                        Sign up
                    </button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An account? <a class="ml-2"href='#'>Sign In</a>
                </small>
            </div>
        </div>
    </div>
{% endblock content %}